<!DOCTYPE html>
<html>
<head>
  <title>Business Contacts List</title>
  <link rel="stylesheet" href="css/contact.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  <div class="container">
    <h1>Business Contact Lists</h1>
    <table id="contactsTable">
      <tr>
        <th class="contact-name">Contact Name</th>
        <th class="contact-number">Contact Number</th>
        <th class="email-address">Email Address</th>
      </tr>
      <% contacts.sort((a, b) => a.name.localeCompare(b.name)); // Sort contacts array %>
      <% contacts.forEach(function(contact) { %>
      <tr id="<%= contact._id %>">
        <td class="contact-name"><%= contact.name %></td>
        <td class="contact-number"><%= contact.phoneNumber %></td>
        <td class="email-address"><%= contact.email %></td>
        <td>
          <button class="updateBtn" data-id="<%= contact._id %>"><i class="fas fa-edit fa-lg" style="color: #ffffff; background-color: #121a1b; padding: 6px; border-radius: 50%;"></i></button>
        </td>
        <td>
          <button class="deleteBtn" data-id="<%= contact._id %>"><i class="fas fa-trash-alt fa-lg" style="color: #ffffff; background-color: #08c5f0; padding: 6px; border-radius: 50%;"></i></button>
        </td>  
      </tr>
      <% }); %>
    </table>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const deleteButtons = document.querySelectorAll('.deleteBtn');

      deleteButtons.forEach((deleteBtn) => {
        deleteBtn.addEventListener('click', (event) => {
          const contactId = deleteBtn.dataset.id;

          if (!contactId) {
            console.error('Invalid contact ID');
            return;
          }

          fetch(`/delete/${contactId}`, {
            method: 'DELETE',
          })
            .then((response) => {
              if (response.ok) {
                event.target.closest('tr').remove();
              } else {
                throw new Error('Failed to delete the contact');
              }
            })
            .catch((error) => {
              console.error('Error deleting contact:', error);
            });
        });
      });
    });

    const updateButtons = document.querySelectorAll('.updateBtn');

    updateButtons.forEach((updateBtn) => {
      updateBtn.addEventListener('click', () => {
        const contactId = updateBtn.dataset.id;

        if (!contactId) {
          console.error('Invalid contact ID');
          return;
        }

        window.location.href = `/update/${contactId}`;
      });
    });
  </script>
</body>
</html>